/* Generales */
*::before,
*::after,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::selection {
  background: var(--text);
  color: var(--bg__sl);
}

body {
  font-family: "Times New Roman", Times, serif;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  color: var(--text);
  background: var(--bg__sl);
}

p {
  line-height: 1.5;
}

/* Utilities */

.container__2 {
  max-width: 90%;
  margin: 0 auto;
  margin-left: 0;
}

.titulos {
  font-family: var(--titulos);
}

.pg {
  padding: 6.4rem 0;
}

.pgt__xs {
  padding-top: 0.4rem;
}

/* Section main */
.section__main {
  background: var(--bg__sl);
}

.section__header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.card__bloquote {
  font-size: var(--font-p);
  display: flex;
  align-items: center;
  gap: 1.4rem;
  color: rgba(33, 37, 41, 0.5);
  transition: var(--trans);
  -webkit-transition: var(--trans);
  -moz-transition: var(--trans);
  -ms-transition: var(--trans);
  -o-transition: var(--trans);
}

.card__bloquote:not(:last-of-type) {
  margin-bottom: 4.8rem;
}

.card__bloquote:hover {
  color: rgba(33, 37, 41, 1);
}

.card__img {
  display: inline-block;
  width: 6rem;
  height: 6rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: var(--trans);
  -webkit-transition: var(--trans);
  -moz-transition: var(--trans);
  -ms-transition: var(--trans);
  -o-transition: var(--trans);
}

.card__bloquote:hover .card__img {
  background: rgba(0, 0, 0, 1);
}

.card__text {
  text-decoration: none;
  display: inline-block;
  position: relative;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
}

.card__text::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.4rem;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  bottom: -1.2rem;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform-origin: center;
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition-delay: 0.1s;
}

.card__text:hover::before {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  opacity: 1;
}

.card__tittle {
  font-family: var(--titulos);
  font-weight: var(--fw-titulos);
  font-size: var(--font-t);
  transition: var(--trans);
  -webkit-transition: var(--trans);
  -moz-transition: var(--trans);
  -ms-transition: var(--trans);
  -o-transition: var(--trans);
}

.card__text:hover .card__tittle {
  background: linear-gradient(#fccb90, #d57eeb);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* Section Aside */
.aside__article {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.aside__article:not(:last-of-type) {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.5);
}

.aside__article:not(:last-of-type) {
  margin-bottom: 3.6rem;
}

.aside__img {
  display: inline-block;
  width: 100%;
  height: 20rem;
  background: rgba(0, 0, 0, 0.5);
  margin-bottom: 1.2rem;
}

.aside__title {
  font-size: var(--font-t);
  font-weight: var(--fw-titulos);
  font-family: sans-serif;
  transition: var(--trans);
  -webkit-transition: var(--trans);
  -moz-transition: var(--trans);
  -ms-transition: var(--trans);
  -o-transition: var(--trans);
}

.aside__article:hover .aside__title {
  text-shadow: 0.2rem 0 0.1rem black;
}

.aside__text {
  font-size: var(--font-p);
  margin-bottom: 1.2rem;
}
