/* Generales */
*::before,
*::after,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /*10px /16rem*/
}

/* Variables */
:root {
  --bg: #c4dfdf; /* Fondo principal */
  --bg__sec: #d2e9e9; /* Fondo secundario */
  --bg__sl: #f8f9fa; /* Fondo claro */
  --text: #212529; /* Texto */
  --fw-text: 400; /* font weight */
  --sl__text: #adb5bd; /* texto claro */
  --titulos: sans-serif; /* Titulos */
  --fw-titulos: 700; /* font weight */
}

body {
  font-family: "Times New Roman", Times, serif;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  color: var(--text);
  background: var(--bg__sl);
}

p {
  line-height: 1.5;
}

/* Utilities */
.container {
  max-width: 90%;
  margin: 0 auto;
}

.titulos {
  font-family: var(--titulos);
}

/* Section Nav */
.navegation {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: var(--bg__sec);
  box-shadow: 0 0.8rem 3.2rem rgba(0, 0, 0, 0.2);
}

.nav-section {
  display: grid;
  grid-template-columns: [col-start] repeat(auto-fit, minmax(30rem, 1fr)) [col-end];
  align-items: center;
  height: 6.2rem;
}

.nav__logo {
  font-size: 2.6rem;
  font-family: var(--titulos);
  font-weight: var(--fw-titulos);
}

.form__nav {
  position: relative;
}

.search__nav {
  color: var(--sl__text);
  height: 3.2rem;
  font-size: 1.4rem;
  width: 90%;
  margin: 0 auto;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  padding-left: 3.2rem;
  padding-right: 1.2rem;
  border-radius: 2.4rem;
  -webkit-border-radius: 2.4rem;
  -moz-border-radius: 2.4rem;
  -ms-border-radius: 2.4rem;
  -o-border-radius: 2.4rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.search__nav::placeholder {
  color: var(--sl__text);
}

.search__nav:focus {
  width: 100%;
  color: var(--text);
}

.nav__icon {
  font-family: sans-serif;
  font-size: 1.4rem;
  color: var(--sl__text);
  position: absolute;
  padding: 0.4rem;
  left: 6.4%;
  top: 50%;
  transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.search__nav:focus ~ .nav__label .nav__icon {
  left: 1.2%;
  color: var(--text);
}

.nav__icon:active {
  transform: translateY(1px);
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  -ms-transform: translateY(1px);
  -o-transform: translateY(1px);
  color: var(--text);
}

/* Notification loging */
.notification__loging {
  height: 6.2rem;
  background: var(--bg__sl);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.notification__loging::before {
  content: "1";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.4rem;
  font-family: var(--text);
  left: 20%;
  top: 30%;
  background: red;
  z-index: 4;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.notification__icon {
  font-size: 2rem;
  color: #adb5bd;
  border: 1px solid currentColor;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 0.4rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.notification__loging:hover .notification__icon {
  color: var(--text);
}

/* Loging section */
.loging__section {
  margin-left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loging__user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  background: var(--bg__sl);
  height: 6.2rem;
  padding: 1.2rem;
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.loging__user:hover {
  background: var(--sl__text);
}

.loging__sect-user {
  width: 4.4rem;
  height: 4.4rem;
}

.loging__img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.loging__user:hover .loging__img {
  filter: sepia(60%);
  -webkit-filter: sepia(60%);
}

.loging__name {
  font-family: var(--text);
  color: var(--text);
  font-size: 1.6rem;
  font-weight: var(--fw-text);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.loging__user:hover .loging__name {
  color: var(--bg__sl);
}
