/* Generales */
*::before,
*::after,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.border {
  border: 1px solid red;
}
/* Variables */
/* Variables */
:root {
  --bg: #fff; /* Fondo principal */
  --bg__sec: #efefef; /* Fondo secundario */
  --bg__sl: #f8f9fa; /* Fondo claro */
  --text: #212529; /* Texto */
  --fw-text: 400; /* font weight */
  --sl__text: #adb5bd; /* texto claro */
  --titulos: sans-serif; /* Titulos */
  --fw-titulos: 700; /* font weight */
}

.content {
  max-width: 90%;
  margin: 0 auto;
}
